.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.tab-list {
  font-size: 1.25rem;
  border-bottom: 1px solid #ccc;
  padding-left: 1rem;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

.tab-list-item:hover {
  background-color: #ccc;
}

.tab-list-active {
  font-weight: bold;
  border-bottom: 2px solid purple;
}
